# tests.cfg
# example config file for package-updater

[Package]
Name=package-updater-tests
Process=README.md
UniqueId=$Format:%H$

[Updater]
Beta=0
ChecksumFile=sha1sum.txt
Owner=smash64-dev
PackageFile=package-updater.zip
Repo=package-updater
Updater=tests/test.ahk

[Ensure_Absent_Directory]
Name=Test Absent Directory
Ensure=Absent
Path=ensure absent directory

[Ensure_Absent_File]
Name=Test Absent File
Ensure=Absent
Path=ensure absent file.txt

[Ensure_Directory]
Name=Test Directory
Ensure=Directory
Path=ensure directory

[Ensure_Latest_File]
Name=Test Latest File
Ensure=Latest
Path=ensure latest file.txt

[Ensure_Latest_File_Modified]
Name=Test Latest File Modified
Ensure=Latest
Path=ensure latest file modified.txt

[Ensure_Link]
Name=Test Link File
Ensure=Link
Path=windows directory
Target=C:\Windows

[Ensure_Present_File]
Name=Test Present File
Ensure=Present
Path=ensure present file.txt

[Ensure_Present_File_Modified]
Name=Test Present File Modified
Ensure=Present
Path=ensure present file modified.txt
